{% extends "common/header.html" %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome to Villian's Child Care App.</h1>
            <p>Some long paragraph</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Col 1</h2>
                <p>Para 1</p>
            </div>
            <div class="col-md-4">
                <h2>Col 2</h2>
                <p>Para 2</p>
            </div>
            <div class="col-md-4">
                <h2>Col 3</h2>
                <p>Para 3</p>
            </div>
        </div>
    </div>
{% endblock %}