{% extends "common/header.html" %} 

{% block content %}
<div class="container">
    <div class="row mt-5 mb-5 justify-content-around">
        <div class="col col-lg-6">
            {% if success_msg %} 
                <div class="alert alert-success" role="alert">
                    {{ success_msg }}
                </div>
            {% endif %}
            {% if error_msg %}
                <div class="alert alert-danger" role="alert">
                    {{ error_msg }}
                </div>
            {% endif %}
            <h3 class="mb-4">Leave an enquiry</h3>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="row mb-4">
                    <div class="col">
                        <label for="fname">First name</label>
                        <input type="text" class="form-control" name="fname" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Please input your first name.
                        </div>
                    </div>
                    <div class="col">
                        <label for="lname">Last name</label>
                        <input type="text" class="form-control" name="lname" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Please input your last name.
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <label for="subject">Subject</label>
                        <input type="text" class="form-control" name="subject" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Please input a subject.
                        </div>
                    </div>
                    <div class="col">
                        <label for="email">Email address</label>
                        <input type="text" class="form-control" name="email" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Please input your email.
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <label for="enquiry">Enquiry</label>
                        <textarea class="form-control" name="enquiry" aria-placeholder="" aria-valuetext="" aria-label="enquiry" rows="4" required></textarea>                        
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <button class="btn btn-primary btn-block" type="submit">Submit Enquiry</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col col-lg-6">
            <div class="row justify-content-center mb-4">
                <h3>Contact Information</h3>
            </div>
            <div class="row justify-content-center">
                You can reach us at the following:
            </div>
            <div class="row justify-content-center">
                <p class="border rounded p-3">
                    <b>Telephone:</b> 6789 1234</br>
                    <b>Email Address:</b> admin@villians.ntu.edu.sg</br>
                    <b>Address:</b> 123 Orchard Road, Singapore 123123</br>
                    <b>Office Hours:</b> 9AM - 530PM
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}