{% extends "common/header.html" %} 

{% block content %}
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col">Name</th>
                <th scope="col">Programmes Offered</th>
                <th scope="col">Fees</th>
                <th scope="col">Age From</th>
                <th scope="col">Age To</th>
                <th scope="col">Remarks</th>
            </tr>
        </thead>
        <tbody>
            {% for c in content %}
            <tr>
                <!-- <th scope="row">{{ forloop.counter }}</th> -->
                <td>{{ c.centre_name }}</td>
                <td>{{ c.programmes_offered }}</td>
                <td>{{ c.fees }}</td>
                <td>{{ c.age_from }}</td>
                <td>{{ c.age_to }}</td>
                <td>{{ c.remarks }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}