{% extends "common/header.html" %} 

{% block content %}
<div class="container">
        {% if error %}
        <div class="alert alert-danger mt-2" role="alert">
            {{ error }} 
        </div>
        {% endif %}
    <div class="row mt-4 mb-4">
        <div class="col-md-6">
            <div class="row align-items-center">
                Sort By:
                <form action="" method="GET">
                    <div class="dropdown ml-4">
                        <button class="btn btn-dark dropdown-toggle" type="button" aria-label="dropdownMenuButton" id="downdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Options
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <button class="dropdown-item {% if sort == 'centre_code' or sort == '' %} active {% endif %}" type="submit" name="s" value="centre_code">Centre Code</button>
                            <button class="dropdown-item {% if sort == 'centre_name' %} active {% endif %}" type="submit" name="s" value="centre_name" >Name</button>
                            <button class="dropdown-item {% if sort == 'centre_area' %} active {% endif %}" type="submit" name="s" value="centre_area" >Area</button>
                            <button class="dropdown-item {% if sort == 'programmes_offered' %} active {% endif %}" type="submit" name="s" value="programmes_offered">Programmes Offered</button>
                            <button class="dropdown-item {% if sort == 'centre_postal_code' %} active {% endif %}" type="submit" name="s" value="centre_postal_code" >Postal Code</button>
                        </div>
                        <input type="hidden" name="p" value="{% if page_number %}{{ page_number }}{% endif %}"/>
                        <input type="hidden" name="q" value="{% if query %}{{ query }}{% endif %}"/>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <form class="form-group" action="" method="GET">
                <div class="row">
                    <div class="col">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" name="q">
                    </div>
                    <div class="col col-md-2">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>        
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col">Centre Code</th>
                <th scope="col">Centre Name</th>
                <th scope="col">Programmes Offered</th>
                <th scope="col">Food Offered</th>
                <th scope="col">Gov Subsidy</th>
                <th scope="col">Postal Code</th>
                <th scope="col">Area Region</th>
                <th scope="col">More Info</th>
            </tr>
        </thead>
        <tbody>
            {% for c in content %}
            <tr>
                <td>{{ c.centre_code }}</td>
                <td>{{ c.centre_name }}</td>
                <td>{{ c.programmes_offered }}</td>
                <td>{{ c.food_offered }}</td>
                <td>{{ c.government_subsidy }}</td>
                <td>{{ c.centre_postal_code }}</td>
                <td>{{ c.centre_area }} </td>
                <td><a href="moreinfo/?cc={{ c.centre_code }}">Click Here<a/></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- pagination -->
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item {% if page_number == '1' %} disabled {% endif %}">
                <a class="page-link" href="{% if page_number > 1 %} ?p={{ page_number|add:'-1'}}&q={{ query}} {% else %} ?q={{ query }} {% endif %}" tabindex="-1">Previous</a>
            </li>
            {% for i in pages %}
            <li class="page-item {% ifequal i page_number %} active {% endifequal %}">
                <a class="page-link" href="?p={{ i }}&q={{ query }}">{{ i }}</a>
            </li>

                {% if forloop.last %}
                <li class="page-item {% if page_number == i|add:'1' %} disabled {% endif %}">
                    <a class="page-link" href="{% if page_number == i|add:'1' %} ?q={{ query }} {% else %} ?p={{ page_number|add:'1' }}&q={{ query }} {% endif %}">Next</a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</div>
{% endblock %}