{% extends "common/header.html" %} {% block content %}
{% load staticfiles %}
<div class="container marketing mt-3">
    <h1>About Us</h1>
    <p></p>
    <hr class="featurette-divider">
    
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">John Baker</h2>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
            <p class="lead">Great platform for new parents like me and my wife! Our third kid is coming soon and our current two kids were sent to the child cares that we selected using this platform! It is great as I don’t have any complaints regarding this platform as the child care that was recommended for us due to our preferences is what we are looking for!!</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="{% static 'About/review-1.jpeg' %}" alt="Generic placeholder image" width="200" height="300">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Marissa Antionette</h2>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <p class="lead">The website is ok. It helps me get the information I wanted about the childcares in Singapore. Although some additional new
            features can be added to make it a better and smoother experience for users. But I understand that this is just a prototype
            start-up and it has managed to reach my level of expectation for a new app.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="{% static 'About/review-2.jpeg' %}" alt="Generic placeholder image" width="400">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Mary Belanski</h2>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <p class="lead">The website is really intuitive and easy to use. It helps me get the information that I needed easily. I did manage to find a suitable child care centre for my kids and now I don’t have to worry about them when me and my wife are out at work! How convenient and easy! I recommend parents, especially new parents to try out this app!!</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="{% static 'About/review-3.jpeg' %}" alt="Generic placeholder image" width="200" height="300">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
</div>
{% endblock %}